/* General Reset and Box Model Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Noto Sans Mono', monospace, sans serif;
    src: url('https://fonts.gstatic.com/s/notosansmono/v30/OD5Iq0L55zr2G7j9DFf8J_P_33AZP-R1z6pZ1Af3.woff2') format('woff2');
    font-display: swap;
  }

html {
    font-size: 1rem;
}

body {
    font-family: "Noto Sans Mono", monospace, sans-serif;
    color: #010101;
    background-color: #fefcfd;
    line-height: 1.6;
    font-size: 1rem; 
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.5;
}

h1 { font-size: 2rem; } 
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

p {
    margin-bottom: 1em;
}

h1 {
    font-family: "Noto Sans Mono", monospace, sans-serif;
}

/* Links */
a {
    color: #1D6053;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Utility Classes */
.text-center {
    text-align: center;
}

.mt-1 { margin-top: 0.5em; }
.mt-2 { margin-top: 1em; }
.mt-3 { margin-top: 1.5em; }

.mb-1 { margin-bottom: 0.5em; }
.mb-2 { margin-bottom: 1em; }
.mb-3 { margin-bottom: 1.5em; }

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fefcfd;
    background-color: #1D6053;
    border: none;
    border-radius: 0.25em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #14443A;
}

/* Lists */
ol {
    margin: 0.5rem 4rem;
}

ol li {
    margin: 1rem 0;
}

ul {
    margin: 0.5rem 2rem;
    width: 80%;
}

ul li {
    margin: 0;
    padding: 0.5rem 0;
}

/* Header Styles */
header {
    color: #010101;
    padding: 1rem;
    margin: 0;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); 
    /* border-bottom: 1px dotted #ccc; */
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 2rem;
    font-size: 1.2rem;
}

#logo {
    /* outline: 1px dotted green; */
    width: 50%;
}

#hamburger {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

nav {
    display: none;
    position: absolute; /* position in the dropdown */
    z-index: 1000;
    top: 80px;
    background-color: #1D6053;
    opacity: 0.98;
    width: 95%;
    padding: 0;
    box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.open {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    padding: 0.5rem;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul li a{
    display: block;
    padding: 0.4rem 0;
    color: #FEFCFD;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

nav ul li:hover {
    background-color: #010101;
}

nav a {
    color: #fefcfd;
    text-align: center;
}

nav a:hover {
    text-decoration: none;
}

#hero {
    position: relative;
    margin: 0;
    width: 100%;
    height: 70vh;
    background-image: url("../images/hero_1000x615.webp");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

article {
    text-align: center;
    width: 100%;
    margin-top: 12%;
}

article p {
    font-size: 1.5rem;
    max-width: 500px;
    margin: 1rem auto;
    padding: 0 1rem;
}

article h1 {
    color: #fff;
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin: 1rem auto;
    min-width: 500px;
    width: 60%;
    text-align: center;
    filter: drop-shadow(0.3rem 0.3rem 8px #010101); 
}

/* HOME PAGE FORMATTING */
.intro {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 2rem;
    /* outline: 1px dotted red; */
    padding: 1.5rem;
    border-radius: 6px;
    background-color: #f8f5ed;
}

.highlight-stori {
    width: 100vw; 
    margin-left: calc(-50vw + 50%);
    margin-bottom: 2rem;
    background-color: #f8eae3; 
    padding: 3rem 0; 
}

.highlight-blurb {
    max-width: 900px;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.highlight-stori h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #010101;
    padding: 1rem;
}

.highlight-blurb p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #010101;
}

.cta-btn {
    display: inline-block;
    width: 90%;
    max-width: 400px;
    padding: 0.75rem;
    margin: 1rem auto 2rem auto;
    background-color: #E8816E;
    color: #010101;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: #1D6053;
    color: #fefcfd;
    text-decoration: none;
}

#feature-overview {
    display: grid;
    margin: 0;
}

/* a 'wiggle' effect */
@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); } 
    25% { transform: rotate(1deg); }    
    50% { transform: rotate(-1deg); }   
    75% { transform: rotate(1deg); }   
  }
  
  /* Style for the CTA blurb */
  .cta-blurb {
    max-width: 95%;
    padding: 1.5rem;
    margin: 2rem auto 2rem auto;
    border: 2px solid #333; 
    border-radius: 6px; 
    text-align: center;
    font-size: 1.2rem;
    background-color: #f9f9f9;
    color: #010101;
    transition: transform 0.3s ease-in-out; 
    animation: wiggle 0.8s ease-in-out; 
  }
  
  /* Optional hover effect */
  .cta-blurb:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  }

/* Main Styles */
main {
    width: 90%;
    margin: 1rem auto;
}

.main-content {
    margin: 3rem auto;
    width: 90%;
}

.main-content h2{
    margin: 1.5rem 0;
}

.main-content img {
    display: block;
    margin: 1.5rem auto;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 95%;
    height: auto;
}

.main-content table {
    margin: 1rem auto;
    width: 80%;
}

.main-content table td {
    padding: 0.5rem;
    outline: 1px dotted #ccc;
    vertical-align: middle;
    text-align: left;
}

.main-content table th {
    padding: 0.5rem;
}

figcaption {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.indent {
    list-style: none;
    margin-left: 2rem;
}

/* FEEDBACK page */

#main-content {
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
}

form {
    margin: 0;
    padding: 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: 1px dotted #ccc;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  */
}

form p {
    margin-top: 2rem;
    margin-bottom: 0;
}

fieldset {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    padding: 1rem 2rem;
    border-radius: 4px;
}

legend {
    padding: 1rem;
    font-size: 1.2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

label:has(+ input:required):after,
label:has(+ select:required):after {
    content: ' *';
    color: red;
  }

input, textarea, button {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

select:disabled option,
select option:disabled {
    color: #fff; 
    background-color: #474747; 
}


button[type="submit"] {
    background-color: #E8816E;
    color: #010101;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
}

button[type="submit"]:hover {
    background-color: #1D6053;
    color: #FEFCFD;
}

#form-summary {
    background-color: #eee;
    border-radius: 6px;
    padding: 1.5rem;
}

/* SIDEBAR on FEEDBACK PAGE */

.sidebar-block {
    padding: 1.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

/* FEATURES Page Styling */

/* GRID / LIST of Entries */

.journal-sim {
    background-color: #eee;
    padding: 1rem 0;
    border-radius: 6px;
}

.journal-sim h4 {
    padding: 0;
    margin: 0 1.5rem;
}

#entries-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 0.5rem;
    border-radius: 6px;
}

.grid-item {
    border: 1px solid #eee; 
    border-radius: 6px; 
    overflow: hidden; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
  }
  
  .grid-item img {
    width: 100%; 
    height: auto;
    margin-bottom: 1rem;
    border-radius: 6px;
    object-fit: cover;
  }
  
  .grid-item h3 {
    font-size: 1rem;
    height: auto;
  }
  
  .grid-item p {
    font-size: 0.8em;
    color: #010101;
    margin: 8px;
  }
  
  .grid-item button {
    display: inline-block;
    margin: 8px auto;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #1D6053;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    max-width: 90%;
  }
  
  .grid-item button:hover {
    background-color: #E8816E;
    color: #010101;
  }

  /* Features.html Modal Styles */
dialog#modal {
    border: none; /* Remove default browser dialog border */
    border-radius: 6px;
    padding: 1.5rem;
    max-width: 800px;
    width: 90%;
    max-height: 800px;
    height: 60%;
    margin: 5rem auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #333;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out; /* Smooth modal animation */
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    position: relative;
    border-radius: 6px;
    outline: 1px dotted #ccc;
    padding: 2rem;
}

/* Close Button */
button.close-modal {
    position: absolute;
    border: none;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    background: transparent;
    padding: 0;
    margin: 0;
    top: 0.5rem;
    right: 1rem;
    font-weight: bold;
    color: #9b0808;
    cursor: pointer;
    transition: color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.close-modal:hover {
    color: #010101;
}

/* Modal Dialogue */
#modal-dialogue {
    font-size: 1rem;
    line-height: 1.5;
    margin: 4rem 0.5rem 1rem 0.5rem;
    color: #010101;
    padding: 1rem;
}

#modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

/* Button Styles */
button {
    padding: 1rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#modal-buttons button:first-child {
    background-color: #e1e1e1;
    color: #272727;
    font-weight: 600;
}

#modal-buttons button:first-child:hover {
    background-color: #eeeded;
    color: #272727;
}

button.record-btn, #modal-buttons button:last-child {
    background-color: #1D6053; 
    color: #fff;
}

button.record-btn:hover, #modal-buttons button:last-child:hover {
    background-color: #E8816E;
    color: #010101;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Backdrop Styling */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

/* Footer Styles */
footer {
    background-color: #1D6053;
    color: #FEFCFD;
    padding: 2rem 1.5rem;
    text-align: center;
}

/* Media Queries */

@media (min-width: 768px) and (max-width: 1024px) {
    
    nav {
        display: block;
        position: static;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        /* outline: 1px dotted red; */
    }

    nav ul {
        flex-direction: row;
        gap: 1rem;
        justify-content: space-around;
    }

    nav ul li {
        padding: 0;
    }

    nav ul li a {
        color: #010101;
    }
    
    nav ul li:hover {
        background-color: transparent;
    }

    nav a {
        color: #010101;
        margin: 0 0.5em;
        text-decoration: none;
        transition: text-shadow 0.3s ease, color 0.3s ease;
    }
    
    nav a:hover,
    nav a.active {
        text-decoration: none;
        color: #010101;
        text-shadow: 0px 0px 8px rgba(232, 129, 110, 0.8);
    }

    #hamburger {
        display: none;
    }

    /* Styles for tablet view */
    #entries-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem; 
        padding: 1.5rem 2rem; 
    }

    .grid-item {
        max-width: 400px; 
    }

    .grid-item h3 {
        font-size: 1.2em; 
    }

    .grid-item p {
        font-size: 1rem; 
        color:#010101
    }

    .intro {
        grid-template-columns: 1fr 1fr; 
    }

    .highlight-blurb {
        grid-template-columns: 1fr 1fr; 
        gap: 3rem; 
    }
}


@media (min-width: 1024px) {
    body {
        font-size: 1.1rem; /* Scale font size for larger screens */
    }

    h1 { font-size: 2.5rem; }
    h2 { font-size: 2.25rem; }
    h3 { font-size: 2rem; }

    #hamburger {
        display: none;
    }

    nav {
        display: block;
        position: static;
        background-color: transparent;
        box-shadow: none;
        padding: 0;

    }

    nav ul {
        flex-direction: row;
        gap: 1rem;
        justify-content: space-around;
    }

    nav ul li {
        padding: 0;
    }

    nav ul li a {
        color: #010101;
    }
    
    nav ul li:hover {
        background-color: transparent;
    }

    nav a {
        color: #010101;
        margin: 0 0.5em;
        text-decoration: none;
        transition: text-shadow 0.3s ease, color 0.3s ease;
    }
    
    nav a:hover,
    nav a.active {
        text-decoration: none;
        color: #010101;
        text-shadow: 0px 0px 8px rgba(232, 129, 110, 0.8);
    }

    /* FEATURE PAGE Styles */
    #entries-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for larger screens */
        gap: 1rem; /* Restore larger gaps */
        padding: 1rem; /* Restore larger padding */
    }

    .grid-item {
        max-width: 500px; /* Restrict max width for desktop */
    }

    .grid-item h3 {
        font-size: 1.2em; /* Slightly larger fonts for desktop */
    }

    .grid-item p {
        font-size: 0.9em; /* Restore larger paragraph font size */
    }

    .grid-item button {
        font-size: 1.2rem; /* Restore larger button font size */
    }

    .intro {
        grid-template-columns: 1fr 1fr; 
    }

    .highlight-blurb {
        grid-template-columns: 1fr 1fr; 
        gap: 3rem; 
    }

    /* FEEDBACK PAGE Styles */
    #main-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}
