* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}

header,
footer {
    background-color: #ddd;
    padding: 1rem;
}

nav {
    display: none;
}

.hamburger {
    display: block;
}

main {
    margin: 0 auto;
    width: 95%;
    /* outline: 1px dotted red; */
}

#businesses {
    background-color: #eee;
    margin-bottom: 1rem;
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

#toggle-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}

#toggle-buttons button {
    padding: 0.5rem 2rem;
    width: 100%;
}

#cards-container {
    /* outline: 1px dotted green; */
    grid-template-columns: 1fr; 
}

.member-card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem 2rem;
    text-align: center;
    /* outline: 1px dotted red; */
    margin-bottom: 1rem;
}

.member-card img {
    width: 100px;
    height: auto;
    margin: 1rem auto;
}

.member-card h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.member-card p {
    font-size: 0.9rem;
    margin: 4px 0;
}

.member-card a {
    color: #0077cc;
    text-decoration: none;
}

#cards-container.toggle-list {
    /* outline: 1px dotted green; */
    /* grid-template-columns: 1fr;  */
    display: block;
}

.list-item {
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.membership-level {
    font-weight: bold;
    margin-top: 0.5rem;
}

.membership-level.gold {
    color: gold;
}

.membership-level.silver {
    color: silver;
}

.membership-level.bronze {
    color: #cd7f32; 
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.chamber-address,
.social-icons,
.project-notes {
    outline: 1px dotted red;
    padding: 1rem;
    width: 100%;
}

/* Styles for larger screens here */

@media (min-width: 768px) {

    nav {
        display: flex;
        outline: 1px dotted red;
    }

    .hamburger {
        display: none;
    }

    #cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 0.5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}