* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    color: rgb(0, 0, 187);
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}

header,
footer {
    background-color: #ddd;
    padding: 1rem 3rem;
}

header {
    padding: 2rem 2rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.site-info {
    display: flex;
    align-items: center;
    width: 80%;
    line-height: 1rem;
}

.site-info img {
    width: 85px;
    height: auto;
    max-width: 100%;
    margin: 1rem 1rem 0 0;
}

.menu-controls {
    /* outline: 2px dotted purple; */
    width: 20%;
    display: flex;
    margin-right: 2rem;
    align-items: center;
}

.menu-controls .half-circle-resp {
    /* outline: 2px dotted red; */
    margin-right: 2rem;
    height: 50px;
    width: 50px;
}

#hamburger {
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.half-circle {
    display: none; 
}

nav {
    position: absolute;
    top: 120px;
    left: 1rem;
    right: 1rem;
    text-align: center;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

nav.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
    /* border: 1px dotted blue; */
    padding: 0.6rem;
    font-size: 1.2rem;
}

nav ul li:hover {
    margin: 0;
    /* border: 1px dotted blue; */
    background-color: #e0e0e0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

main,
.pagetitle {
    margin: 2rem auto;
    width: 95%;
    /* outline: 1px dotted red; */
}

/* Directory Styles */

#businesses {
    background-color: #eee;
    margin-bottom: 1rem;
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

#toggle-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}

#toggle-buttons button {
    padding: 0.5rem 2rem;
    width: 100%;
}

#cards-container {
    /* outline: 1px dotted green; */
    grid-template-columns: 1fr; 
}

.member-card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem 2rem;
    text-align: center;
    /* outline: 1px dotted red; */
    margin-bottom: 1rem;
}

.member-card img {
    height: auto;
    object-fit: contain;
    display: block;
    margin: 1rem auto;
}

.member-card h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.member-card p {
    font-size: 0.9rem;
    margin: 4px 0;
}

.member-card a {
    color: #042180;
    text-decoration: none;
}

.member-card a:hover {
    color: #042180;
    text-decoration: underline;
}

#cards-container.toggle-list {
    /* outline: 1px dotted green; */
    /* grid-template-columns: 1fr;  */
    display: block;
}

.list-item {
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.membership-level {
    font-weight: bold;
    margin-top: 0.5rem;
}

/* Index Styles */

#hero img {
    display: block;
    height: auto;
    opacity: 0.9;
}

.pagetitle {
    background-color: transparent;
    font-size: 1.5rem;
}

.events-block {
    display: grid;
    border-radius: 4px;
    gap: 1rem;
    /* outline: 1px dotted blue; */
    grid-template-columns: 1fr;
}

.ecard {
    /* outline: 1px dotted red; */
    background-color: #eee;
    border-radius: 4px;
}

.events-block h4 {
    background-color: #474747;
    color: #fff;
    padding: 0.3rem 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 4px 4px 0 0;
}

.event-content,
.current-weather,
.weather-forecast {
    padding: 1rem;
}

.current-weather {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* outline: 1px dotted green; */
}

#current-temp {
    font-weight: 600;
}

#weather-icon {
    width: 60px;
    height: auto;
    margin-right: 0.7rem;
    background-color: #9e9d9d;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
}

#weather-icon[src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAgEB/hd3E/cAAAAASUVORK5CYII="] {
    visibility: hidden;
}

.weather-forecast {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* The Spotlighted Businesses */

.spotlight-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin: 1.5rem 0;
    /* outline: 1px dotted red; */
}

.scard {
    background-color: #eee;
    /* padding: 1rem; */
    border-radius: 6px;
}

.scard .scard-title {
    border-bottom: 1px solid #afafaf;
    padding: 0.5rem;
    text-align: center;
}

.scard-title h4 {
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.scard-title .tagline {
    font-size: 0.9rem;
}

.scard-content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
}

.scard-content img {
    width: 80px;
    height: auto;
    margin-right: 1rem;
    display: block;
}

/* JOIN US CTA on index.html */

.home-cta {  
    display: block;
    text-align: center;
    padding: 1.5rem;
    border-radius: 6px;
    background-color: #474747;
    margin: 2rem auto;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

.home-cta:link, 
.home-cta:visited {
    color: #fff; 
}

.home-cta:hover {
    background-color: #805b19;
    color: #fff;
}

.home-cta:active {
    color: #fff; 
}

/* Footer Styles */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.chamber-address,
.social-icons,
.project-notes {
    padding: 1rem;
    flex: 3;
    /* outline: 1px dotted blue; */
}

.social-icons {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
    /* outline: 1px dotted red; */
}

.social-icons img {
    width: 50px;
    height: 50px;
}

/* ================================ */
/*  Styles for larger screens here  */
/* ================================ */

@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem;
    }

    .site-info {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-info a {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
        text-decoration: none;
        /* outline: 1px dotted red; */
    }

    .site-title {
        line-height: 1.3rem;
        width: 100%;
        font-size: 1.2rem;
        padding-bottom: 0.3rem;
    }

    .site-info img {
        width: 100px;
        height: auto;
        max-width: 100%;
        margin-right: 1.5rem;
    }

    .site-title h1 {
        font-size: 2.5rem;
    }

    .menu-controls .half-circle-resp {
        display: none;
    }
    
    nav {
        position: static;
        visibility: visible;
        transform: none;
        opacity: 1;
        transition: none;
        display: flex; 
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        width: 35%;
        background-color: #ddd;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        font-size: 1.2rem;
        font-weight: 500;
        gap: 2rem;
    }
    
    nav ul a {
        color: #000;
        text-decoration: none;
    }

    nav ul a:hover {
        text-decoration: underline;
        background-color: transparent;
    }

   .half-circle {
        display: inline-block;
        /* max-width: 1.5rem; */
        align-self: center;
        height: 30px;
        width: 30px;
    }

    #hamburger {
        display: none;
    }

    #cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    /* Index Styles */

    .events-block {
        grid-template-columns: repeat(4, 1fr);
    }

    .events {
        grid-column: span 2;
    }

    .spotlight-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .home-cta {
        width: 70%;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}